* {
  font-family: Manrope;
  font-weight: 500;
}

.h1 {
  font-size: 32px;
  color: #202020;
}

.legend, .input, .label {
  font-size: 18px;
  color: #202020;
}

.button {
  font-size: 18px;
}

@media screen and (max-width: 864px) {
  .h1 {
    font-size: 18px;
  }
  .legend, .input, .label {
    font-size: 14px;
  }
}
.input {
  outline: none;
  border-radius: 5px;
  padding: 5px 10px;
  border: 0;
  background: #f1f1f1;
}

.button {
  padding: 10px 40px;
  border: 0;
  border-radius: 5px;
  background: radial-gradient(circle at bottom right, #8988ca, #4982eb);
  transition: 0.3s;
  cursor: pointer;
}

.button:hover {
  color: #f1f1f1;
}

.feedback__form {
  display: flex;
  flex-direction: column;
  gap: 10px;
  background: radial-gradient(circle at bottom right, #8988ca, #4982eb);
  padding: 20px;
  border-radius: 20px;
  width: 80%;
  max-width: 397px;
  margin: auto;
  position: relative;
  flex-shrink: 1;
}

.feedback__button {
  position: absolute;
  bottom: -53px;
}

.legend {
  text-align: center;
}

.error {
  border: 3px solid red;
}

.error__label {
  transition: 0.6s;
  background-color: rgb(255, 116, 116);
  padding: 10px;
  border-radius: 10px;
}

.responce {
  padding: 10px;
  border-radius: 5px;
  align-self: flex-end;
  margin-right: 30px;
  animation: show 0.3s ease;
}

.responce.success {
  background-color: rgb(103, 250, 103);
}

.responce.error {
  background-color: rgb(252, 148, 148);
}

@keyframes show {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
.modal {
  position: fixed;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100vw;
  height: 100vh;
  background: rgba(0, 0, 0, 0.266);
  animation: showModal 0.5s ease;
}

@keyframes showModal {
  from {
    opacity: 0;
  }
}
.modal__wrapper {
  background: #4982eb;
  width: 260px;
  height: 70px;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 20px;
  animation: translateModal 0.5s ease;
}

@keyframes translateModal {
  from {
    transform: translateX(70%);
  }
}
.modal:not(.open) {
  visibility: hidden;
  display: none;
}

.modal-open {
  overflow: hidden;
  padding-right: 15px;
}

.main {
  max-width: 1440px;
  width: calc(100% - 40px);
  margin: auto;
  display: flex;
  gap: 30px;
  flex-direction: column;
  align-items: center;
}

.main__h1 {
  padding: 30px 0 0 0;
}

body {
  background: #f1f1f1;
}

@media screen and (max-width: 864px) {
  .main {
    width: 98%;
  }
}
.feedback {
  display: flex;
  flex-direction: column;
  gap: 8px;
  align-items: center;
}

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  vertical-align: baseline;
}

article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block;
}

body {
  line-height: 1;
}

ol, ul {
  list-style: none;
}

blockquote, q {
  quotes: none;
}

blockquote:before, blockquote:after,
q:before, q:after {
  content: "";
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

textarea {
  resize: vertical;
  overflow: hidden;
}

/*# sourceMappingURL=style.css.map */
