$background-color-primary: #f1f1f1;
$background-color-secondary: #4982eb;

$font-color: #202020;
$font-color-accent: #f1f1f1;


$font-size-header-desktop: 32px;
$font-size-header-mobile: 18px;

$font-size-desktop: 18px;
$font-size-mobile: 14px;
